@{
    Layout = "_LayoutApp";
    ViewData["Title"] = "Generar Acta";
}

<div class="flex-c center mg-10">
    <h1 class="title txt-white">@ViewBag.Title</h1>
    @if (ViewData["MSG"] == "Registro realizado correctamente")
    {
        <div class="alert-container alert-green">
            <div class="txt-white">
                @ViewData["MSG"]
            </div>
        </div>
    }
    else if (ViewData["MSG"] != null)
    {
        <div class="alert-container alert-red">
            <div class="txt-white">
                @ViewData["MSG"]
            </div>
        </div>
    }
    <form method="post" class="form pad-20 flex-c center gap-10">

        <span class="txt-white txt-bold fz-20">Asignatura</span>
        <select class="input-props-select" required name="asignatura">
            <option value="">Seleccione una asignatura...</option>
            @foreach (var asignatura in ViewBag.AsigList)
            {
                <option value="@asignatura.Value">@asignatura.Text</option>
            }
        </select>

        <span class="txt-white txt-bold fz-20">Paralelo</span>
        <select class="input-props-select" required name="paralelo">
            <option value="">Seleccione un paralelo...</option>
            @foreach (var paralelo in ViewBag.ParaList)
            {
                <option value="@paralelo.Value">@paralelo.Text</option>
            }
        </select>

        <input class="submit-props btn btn-prop center txt-white txt-bold fz-16 color-yellow" type="submit" value="Registrar" asp-controller="Register" asp-action="Acta" />
    </form>

</div>
